body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#proportional {
    height: 500px;
    margin-bottom: 40px;
}

#choropleth {
    height: 500px;
}


